<div class="row justify-content-center">
  <div class="col-8">
    <h2 class="text-center">Sign up</h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: :false }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs text">
          <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email",class:"one-email" }%>
        <%= f.input :password,
                    required: true,
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password",class:"one-email" } %>
        <%= f.input :password_confirmation,
                    required: true,
                    input_html: { autocomplete: "new-password",class:"one-email" } %>
      </div>

      <div class="form-actions d-flex">
        <%= f.button :submit, "Sign up", class:"bites-button" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
