<div data-controller="ingredient-value">
<%= simple_form_for :search, url: recipes_path, method: :get, remote:true do |f| %>
 <%= f.input :ingredient,collection: Ingredient.all, input_html: {value: ""},selected: @selected_ingredient, include_blank: false %>
 <%= f.submit "Search", class: "bites-button" %>
<% end %>
</div>
  <%# <%= options_from_collection_for_select(Ingredient.all, :id, :name) %>



<div class="recipe-container">
  <% @recipes.each do |recipe| %>
    <div class="recipe-card-container">
      <div class="recipe-card">
        <div class="recipe-image"><img src="https://o.remove.bg/downloads/a099439e-d2e7-445f-8468-38f8999cbd69/anh-nguyen-kcA-c3f_3FE-unsplash-removebg-preview.png" alt=""></div>
        <div class="recipe-info">
          <h4><%= recipe.name %></h4>
          <div class="recipe-link">
            <%= link_to toggle_favorite_recipe_path(recipe), data: { turbo_method: :post } do %>
              <i class="fa-solid fa-utensils"></i>
            <% end %>
            <%= link_to "Show", recipe_path(recipe) %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
